.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown button {
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0%;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  
  .dropdown-item {
    display: block;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background: #f0f0f0;
  }
  [type=checkbox]:checked{
    color:#d6d6d6;
  }