@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --header-height: 63px; /* Задаём высоту хедера */
}
a {
  color: inherit; /* Наследует цвет текста от родителя */
  text-decoration: none; /* Убирает подчёркивание */
}

a:visited {
  color: inherit; /* Убирает фиолетовый цвет для посещённых ссылок */
}

a:active {
  color: inherit; /* Убирает красный цвет при нажатии */
}
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: grid; /* Основной grid-контейнер */
  grid-template-rows: auto 1fr; /* Хедер + основное содержание */
}



  .constructor {
    min-height: 86vh;
    max-width: 1080px;
  }
  .pagination {
    position: absolute; /* Лучше чем absolute для прикрепления */
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    z-index: 10;
  }
  
 
.pagination .page-num {
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
  }
  

  @keyframes fade-in {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }

  .pagination button.active {
    background-color: #d6d6d6;
    color: rgb(0, 0, 0);
  }
  header a {
    text-decoration: none;
    color:black;
  }